/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** General **/
.fl { float: left; }
.fr { float: right; }
.clearfix { 
	clear: both;
	overflow: hidden;
	display: block;
	height: 0px;
	width: 0px;
}

body{
	font-family: 'Arial', 'Verdanna', sans-serif;
}

/** Top Nav **/
#top_nav {
	z-index: 9;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;

	padding-bottom: 3px;
	background-color: #3F3F3F;
}
	#top_nav ul { 
		padding-right: 10px;
		padding-left: 10px;
		list-style: none; 
	}
	#top_nav ul li {
		float: left;
	}
		#top_nav ul li a{
			display: inline-block;
			padding: 15px 10px;
			margin-top: 5px;
			text-decoration: none;
			font-size: 14px;
			color: #f1f1f1;
		}
		#top_nav ul li.top_nav_logos a{
			font-size: 20px;
			font-weight: bold;
			padding-right: 30px;
			margin-top: 0px;
		}
		#top_nav ul li.top_nav_purchase {
			float: right !important; 
		}
		#top_nav ul li.top_nav_purchase a{
			background-color: #D83F28;
			color: #f1f1f1;
		}

/** Left Nav **/
#left_nav {
	z-index: 8;
	height: 100%;
	background-color: #EFEFEF;
	border-right: 1px solid #E1E1E1;
	width: 260px;
	position: fixed;
	top:0px;
	left: 0px;
}
	#left_nav ul {
		list-style: none;
	}
	#left_nav > ul{
		overflow: auto;
		overflow-x : hidden;
		height: 87vh;
		padding-top: 80px;
	}
		#left_nav > ul ul{
			display: none;
			padding-left: 10px;
		}
		#left_nav ul li.arrow{

		}
		#left_nav ul li a{
			display: block;
			color: #414141;
			text-decoration: none;
			padding: 7px 5px 7px 10px;
		}

#left_nav footer {
	position: absolute;
	bottom: 20px;
	left: 10px;
}

/** Content **/
#container_wrap {
	padding-top: 80px;
	padding-left: 300px;
	padding-right:40px;

	color: #444444;
	font-size: 16px;
	line-height: 1.3em;
}
	#container_wrap p{
		margin-bottom: 18px; 
	}
	#container_wrap .page_title{
		font-size: 28px;
		padding-bottom: 18px;
		margin-bottom: 30px;
		border-bottom: 1px solid #E1E1E1;
	}
	#container_wrap .content_title {
		font-size: 22px;
		margin-top:50px;
		margin-bottom: 20px;
	}
	#container_wrap a {
		color: #06bad6;
	}
	
	#container_wrap ol,
	#container_wrap ul {
		margin-left: 20px;
	}

	#container_wrap ol li,
	#container_wrap ul li{
		margin-bottom: 5px;
	}

	#container_wrap img {
		margin: 10px 0px;
	}

/** Pages **/
.page {
	display: none;
}

#page_1 {
	display: block;
}